body {
    background: #f4f4f3;
    color: #4f585e;
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
}

.card {
    background: #ffffff;
    transition: all 0.3s 0s ease-in;
    width: 350px;
    z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width:991px){
    .card {
        width:270px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        width: 330px;
    }
}

.img-card {
    width: 100%;
    height: 260px;
}

.card__image-holder {
    position: relative;
}

.card__image-holder .sale-notic {
    margin: 10px;
}

.sale-notic{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    /* background: #e94646; */
    padding: 7px 13px;
    top: 0;
    border-radius: 2px;
    position: absolute;
    z-index: 3;
}

.delete{
    /* color: #fff; */
    font-size: 22px;
    color: #e94646;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    z-index: 3;
}

.delete:hover{
    cursor: pointer;
    color: red;
}

.border-card {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.card-address{
    padding-top: 20px;
}

.card-address p {
    font-size: 14px;
}

.room-info p{
    font-size: 14px;
}

.card:hover {
    transform: scale(1.07);
}

.container:hover  .card:not(:hover) {
    /* filter: blur(5px); */
}

.room-info-warp {
    padding: 5px 25px 0px;
    padding-bottom: 0;
}

.over{
    overflow-y: auto;
    height: 90px;
}

.room-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.room-price{
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    background: #30caa0;
    color: #fff;
    text-decoration: none;
}

.room-price:hover {
    background-color: #207e65;
}

.card-icon {
    font-size: 20px;
    color: #30CAA0;
}